@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color:#FFFFFF ;
    font-style: normal;
  
  }
  body{
    background-color: #111111;
  }
  /* shared styles */
  .btn-primary{
    background-color:rgba(230, 83, 60, 1.00);
    border-radius: 30px;
    color:#FFFFFF ;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 9px;
  }
  .btn-primary2{
    border-radius: 30px;
    
    font-weight: 600;
    font-size: 1.1rem;
    padding: 9px;
  }
  .navbar{
    justify-content: space-between;
    max-width: 1450px;
    margin: 0 auto;
   
  }
  .nav-title{
    font-weight: 700;
    color: rgba(230, 83, 60, 1);
    margin-left: 30px;
  }
  .nav-link{
    list-style: none;
    max-width: 100%;
    border: 1px solid #FFFFFF1A;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
  }
  .nav-item{
    text-decoration: none;
    margin-right: 30px;
    font-weight: 500;
    color:#FFFFFF ;
    padding: 0px;
   
  }
  .home{
    background-color:#E6533C;
    border-radius: 15px;
    margin-left: 10px;
    padding: 5px;
  }
  .display-flex{
    display: flex;
  }
  .banner{
    max-width: 1400px;
    margin:50px auto;
    

  }

  .banner-continer{
    display: flex;
    justify-content: space-between;
    
  }
  .banner-item{
    width: 50%;
  }
  .banner-title{
    font-size: 4.8rem;
    font-weight: 900;
    margin-bottom: 0px;
  }
  .banner-description{
    font-size: 1rem;
    font-weight: 400;
  }
  .btn-video{
    width: 200px;
    display: flex;
    align-items: center;
    border-radius: 10px;
  background-color:rgba(48, 48, 48, 0.54);
  color: #FFFFFF;
  border: none;
  gap: 10px;
  margin-top: -150px;
  margin-left: -100px;
  width: 206px;
  }
  .btn-title{
    font-weight: 900;
    font-size:1.5rem ;
    margin-bottom: 5px;
    margin-top: 14px;
  }
  .btn-description{
    font-size: 1rem;
    font-weight: 400;
    color: #EFEDE8;
    margin-top: 0px;
    
  }
  .btn-free-video{
    width: 200px;
    align-items: center;
    border-radius: 10px;
  background-color:rgba(48, 48, 48, 0.54);
  color: #FFFFFF;
  border: none;
  margin-left: -145px;
  margin-top: 120px;
  }
